RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
RewriteRule ^razones-programar-2023 razones-programar-2023.html [NC]
RewriteRule ^IA-sobresaliente-en-salud IA-sobresaliente-en-salud.html [NC]
RewriteRule ^sembrar-plantas-espacios-pequeños sembrar-plantas-espacios-pequeños.html [NC]
RewriteRule ^IA-en-la-medicina-actual IA-en-la-medicina-actual.html [NC]
RewriteRule ^alimentacion-consciente-consejos alimentacion-consciente-consejos.html [NC]
RewriteRule ^la-revolucion-de-la-RV la-revolucion-de-la-RV.html [NC]
RewriteRule ^mantener-equilibrio-saludable mantener-equilibrio-saludable.html [NC]
RewriteRule ^mindfulness-clave-para-reducir-el-estres mindfulness-clave-para-reducir-el-estres.html [NC]
RewriteRule ^alimentacion-nutrir-tu-cuerpo-y-mente alimentacion-nutrir-tu-cuerpo-y-mente.html [NC]
RewriteRule ^alimentacion-consciente-beneficios alimentacion-consciente-beneficios.html [NC]
RewriteRule ^alimentacion-consciente-practicarlo alimentacion-consciente-practicarlo.html [NC]
RewriteRule ^5g-la-conexion-en-la-vida-cotidiana 5g-la-conexion-en-la-vida-cotidiana.html [NC]
RewriteRule ^criptomonedas-y-blockchain-mas-alla-del-bitcoin criptomonedas-y-blockchain-mas-alla-del-bitcoin.html [NC]
RewriteRule ^criptomonedas-y-blockchain-ventajas-de-utilizar-blockchain criptomonedas-y-blockchain-ventajas-de-utilizar-blockchain.html [NC]
RewriteRule ^criptomonedas-y-blockchain-beneficios-blockchain-en-el-futuro criptomonedas-y-blockchain-beneficios-blockchain-en-el-futuro.html [NC]
RewriteRule ^solve-quien-somos solve-quien-somos.html [NC]