RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
RewriteRule ^/tecnologia/razones-programar-2023 /tecnologia/razones-programar-2023.html [NC]
RewriteRule ^/tecnologia/IA-sobresaliente-en-salud /tecnologia/IA-sobresaliente-en-salud.html [NC]
RewriteRule ^/bienestar/sembrar-plantas-espacios-pequeños /bienestar/sembrar-plantas-espacios-pequeños.html [NC]
RewriteRule ^/tecnologia/IA-en-la-medicina-actual /tecnologia/IA-en-la-medicina-actual.html [NC]
RewriteRule ^/bienestar/alimentacion-consciente-consejos /bienestar/alimentacion-consciente-consejos.html [NC]
RewriteRule ^/tecnologia/la-revolucion-de-la-RV /tecnologia/la-revolucion-de-la-RV.html [NC]
RewriteRule ^/bienestar/mantener-equilibrio-saludable /bienestar/mantener-equilibrio-saludable.html [NC]
RewriteRule ^/bienestar/mindfulness-clave-para-reducir-el-estres /bienestar/mindfulness-clave-para-reducir-el-estres.html [NC]
RewriteRule ^/bienestar/alimentacion-nutrir-tu-cuerpo-y-mente /bienestar/alimentacion-nutrir-tu-cuerpo-y-mente.html [NC]
RewriteRule ^/bienestar/alimentacion-consciente-beneficios /bienestar/alimentacion-consciente-beneficios.html [NC]
RewriteRule ^/bienestar/alimentacion-consciente-practicarlo /bienestar/alimentacion-consciente-practicarlo.html [NC]
RewriteRule ^/tecnologia/5g-la-conexion-en-la-vida-cotidiana /tecnologia/5g-la-conexion-en-la-vida-cotidiana.html [NC]
RewriteRule ^/tecnologia/criptomonedas-y-blockchain-mas-alla-del-bitcoin /tecnologia/criptomonedas-y-blockchain-mas-alla-del-bitcoin.html [NC]
RewriteRule ^/tecnologia/criptomonedas-y-blockchain-ventajas-de-utilizar-blockchain /tecnologia/criptomonedas-y-blockchain-ventajas-de-utilizar-blockchain.html [NC]
RewriteRule ^/tecnologia/criptomonedas-y-blockchain-beneficios-blockchain-en-el-futuro /tecnologia/criptomonedas-y-blockchain-beneficios-blockchain-en-el-futuro.html [NC]
RewriteRule ^/solve-quien-somos /solve-quien-somos.html [NC]